Repository acts-project/traccc, pull requests merged in 2022-04, with the labels that each got.

#157 Return internal spacepoint members by value
  core/include/traccc/edm/internal_spacepoint.hpp
Labels: improvement, edm

#161 VecMem Update, main branch (2022.04.05.)
  device/sycl/src/seeding/counting_grid_capacities.sycl
  device/sycl/src/seeding/doublet_counting.sycl
  device/sycl/src/seeding/doublet_finding.sycl
  device/sycl/src/seeding/populating_grid.sycl
  device/sycl/src/seeding/triplet_counting.sycl
  device/sycl/src/seeding/triplet_finding.sycl
  extern/vecmem/CMakeLists.txt
Labels: sycl

#162 Command Line Argument Parsing Fixes, main branch (2022.04.05.)
  examples/run/cpu/seeding_example.cpp
  examples/run/cpu/seq_example.cpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: bug, cuda, sycl, cpu

#156 Remove variance from spacepoint EDM
  core/include/traccc/clusterization/spacepoint_formation.hpp
  core/include/traccc/edm/internal_spacepoint.hpp
  core/include/traccc/edm/spacepoint.hpp
  examples/run/openmp/par_example.cpp
  io/include/traccc/io/csv.hpp
  io/include/traccc/io/writer.hpp
Labels: cleanup, edm

#19 Another CUDA implementation of connected component labeling
  device/cuda/CMakeLists.txt
  device/cuda/include/traccc/cuda/cca/component_connection.hpp
  device/cuda/src/cca/component_connection.cu
  tests/cuda/CMakeLists.txt
  tests/cuda/test_cca.cpp
Labels: feature, cuda

#160 Use buffer instead of container in CUDA seeding
  device/cuda/include/traccc/cuda/seeding/counting_grid_capacities.hpp
  device/cuda/include/traccc/cuda/seeding/doublet_counting.hpp
  device/cuda/include/traccc/cuda/seeding/doublet_finding.hpp
  device/cuda/include/traccc/cuda/seeding/populating_grid.hpp
  device/cuda/include/traccc/cuda/seeding/seed_finding.hpp
  device/cuda/include/traccc/cuda/seeding/seed_selecting.hpp
  device/cuda/include/traccc/cuda/seeding/seeding_algorithm.hpp
  device/cuda/include/traccc/cuda/seeding/spacepoint_binning.hpp
  device/cuda/include/traccc/cuda/seeding/triplet_counting.hpp
  device/cuda/include/traccc/cuda/seeding/triplet_finding.hpp
  device/cuda/include/traccc/cuda/seeding/weight_updating.hpp
  device/cuda/src/seeding/counting_grid_capacities.cu
  device/cuda/src/seeding/doublet_counting.cu
  device/cuda/src/seeding/doublet_finding.cu
  device/cuda/src/seeding/populating_grid.cu
  device/cuda/src/seeding/seed_selecting.cu
  device/cuda/src/seeding/triplet_counting.cu
  device/cuda/src/seeding/triplet_finding.cu
  device/cuda/src/seeding/weight_updating.cu
Labels: cuda, improvement

#165 Container Re-design, main branch (2022.04.06.)
  cmake/traccc-compiler-options-cuda.cmake
  core/CMakeLists.txt
  core/include/traccc/edm/container.hpp
  core/include/traccc/edm/details/container_base.hpp
  core/include/traccc/edm/details/container_element.hpp
  core/include/traccc/edm/details/device_container.hpp
  core/include/traccc/edm/details/host_container.hpp
Labels: build, refactor

#168 Container Improvements, main branch (2022.04.08.)
  core/include/traccc/edm/details/container_base.hpp
  core/include/traccc/edm/details/container_element.hpp
  core/include/traccc/edm/details/device_container.hpp
  device/cuda/src/seeding/counting_grid_capacities.cu
  device/cuda/src/seeding/doublet_counting.cu
  device/cuda/src/seeding/doublet_finding.cu
  device/cuda/src/seeding/populating_grid.cu
  device/cuda/src/seeding/seed_selecting.cu
  device/cuda/src/seeding/track_params_estimation.cu
  device/cuda/src/seeding/triplet_counting.cu
  device/cuda/src/seeding/triplet_finding.cu
  device/cuda/src/seeding/weight_updating.cu
  device/sycl/src/seeding/counting_grid_capacities.sycl
  device/sycl/src/seeding/doublet_counting.sycl
  device/sycl/src/seeding/doublet_finding.sycl
  device/sycl/src/seeding/populating_grid.sycl
  device/sycl/src/seeding/seed_selecting.sycl
  device/sycl/src/seeding/track_params_estimation.sycl
  device/sycl/src/seeding/triplet_counting.sycl
  device/sycl/src/seeding/triplet_finding.sycl
  device/sycl/src/seeding/weight_updating.sycl
Labels: bug, cuda, improvement, sycl

#171 VecMem 0.13.0 Update, main branch (2022.04.12.)
  extern/vecmem/CMakeLists.txt
Labels: build

#172 CUDA / Clang Compatibility, main branch (2022.04.12.)
  device/cuda/CMakeLists.txt
  tests/cuda/CMakeLists.txt
Labels: bug

#175 General Jagged Vector Prefix Sums, main branch (2022.04.15.)
  device/common/CMakeLists.txt
  device/common/include/traccc/device/get_prefix_sum.hpp
  device/common/include/traccc/device/impl/get_prefix_sum.ipp
  device/common/include/traccc/seeding/device/count_grid_capacities.hpp
  device/common/include/traccc/seeding/device/get_spacepoint_prefix_sum.hpp
  device/common/include/traccc/seeding/device/impl/count_grid_capacities.ipp
  device/common/include/traccc/seeding/device/impl/populate_grid.ipp
  device/common/include/traccc/seeding/device/populate_grid.hpp
  device/common/src/get_prefix_sum.cpp
  device/common/src/seeding/get_spacepoint_prefix_sum.cpp
  device/cuda/src/seeding/spacepoint_binning.cu
  device/sycl/src/seeding/spacepoint_binning.sycl
Labels: cleanup, cuda, sycl

#173 Rewrite seed collection comparator
  core/include/traccc/edm/seed.hpp
  examples/performance/include/traccc/efficiency/track_classification.hpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: bug

#174 Decouple spacepoint formation from clusterization algorithm
  core/include/traccc/clusterization/clusterization_algorithm.hpp
  core/include/traccc/clusterization/spacepoint_formation.hpp
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  examples/run/cpu/seq_example.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/openmp/io_dec_par_example.cpp
  examples/run/openmp/par_example.cpp
  examples/run/sycl/seq_example_sycl.sycl
  tests/cpu/seq_single_module.cpp
Labels: refactor

#178 Detray Update, main branch (2022.04.26.)
  core/include/traccc/definitions/primitives.hpp
  core/include/traccc/edm/internal_spacepoint.hpp
  core/include/traccc/seeding/detail/spacepoint_grid.hpp
  device/cuda/include/traccc/cuda/seeding/seeding_algorithm.hpp
  extern/detray/CMakeLists.txt
  plugins/algebra/array/CMakeLists.txt
  plugins/algebra/array/include/traccc/plugins/algebra/array_definitions.hpp
  plugins/algebra/eigen/CMakeLists.txt
  plugins/algebra/eigen/include/traccc/plugins/algebra/eigen_definitions.hpp
  plugins/algebra/smatrix/CMakeLists.txt
  plugins/algebra/smatrix/include/traccc/plugins/algebra/smatrix_definitions.hpp
  plugins/algebra/vc/CMakeLists.txt
  plugins/algebra/vc/include/traccc/plugins/algebra/vc_definitions.hpp
Labels: build, cuda
