Repository acts-project/traccc, pull requests merged in 2022-12, with the labels that each got.

#289 Removed redundant information from cell EDM type
  core/include/traccc/edm/cell.hpp
  io/src/csv/read_cells.cpp
  tests/cuda/test_copy_algs.cpp
  tests/io/test_csv.cpp
Labels: cleanup, edm

#290 Device Memory Caching, main branch (2022.12.02.)
  examples/run/common/throughput_mt.ipp
  examples/run/cuda/full_chain_algorithm.cpp
  examples/run/cuda/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
Labels: cuda, improvement, sycl

#291 File Read Fix, main branch (2022.12.05.)
  io/include/traccc/io/read.hpp
  io/src/read.cpp
Labels: bug

#295 I/O Code Fix, main branch (2022.12.07.)
  io/src/write.cpp
Labels: bug

#292 Async CUDA Clusterization, main branch (2022.12.05.)
  device/cuda/CMakeLists.txt
  device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  device/cuda/include/traccc/cuda/utils/make_prefix_sum_buff.hpp
  device/cuda/include/traccc/cuda/utils/stream.hpp
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/cuda/src/utils/make_prefix_sum_buff.cu
  device/cuda/src/utils/opaque_stream.cpp
  device/cuda/src/utils/opaque_stream.hpp
  device/cuda/src/utils/stream.cpp
  device/cuda/src/utils/utils.cpp
  device/cuda/src/utils/utils.hpp
  examples/run/common/throughput_mt.hpp
  examples/run/common/throughput_mt.ipp
  examples/run/common/throughput_st.hpp
  examples/run/common/throughput_st.ipp
  examples/run/cuda/full_chain_algorithm.cpp
  examples/run/cuda/full_chain_algorithm.hpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/cuda/throughput_mt.cpp
  examples/run/cuda/throughput_st.cpp
Labels: feature, cuda

#298 Throughput Host Cache Fix, main branch (2022.12.14.)
  examples/run/common/throughput_mt.hpp
  examples/run/common/throughput_mt.ipp
  examples/run/common/throughput_st.hpp
  examples/run/common/throughput_st.ipp
  examples/run/cuda/throughput_mt.cpp
  examples/run/cuda/throughput_st.cpp
  examples/run/sycl/throughput_mt.cpp
  examples/run/sycl/throughput_st.cpp
Labels: bug, cpu
