Repository acts-project/traccc, pull requests merged in 2022-11, with the labels that each got.

#261 Memory Resource Cleanup (Part 1), main branch (2022.10.26.)
  device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  examples/run/cuda/CMakeLists.txt
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/sycl/CMakeLists.txt
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: cuda, improvement, sycl

#266 Added comparison of bins with acts
  tests/cpu/compare_with_acts_seeding.cpp
Labels: tests

#236 Add Futhark implementation of spacepoint formation
  README.md
  device/futhark/CMakeLists.txt
  device/futhark/include/traccc/futhark/spacepoint_formation.hpp
  device/futhark/src/entry.fut
  device/futhark/src/spacepoint_formation.cpp
  device/futhark/src/spacepoint_formation.fut
Labels: feature, futhark

#269 Cell Read Error Checks, main branch (2022.11.09.)
  io/include/traccc/io/csv.hpp
Labels: improvement

#268 SYCL2020 v5 Compatibility, main branch (2022.11.08.)
  examples/run/sycl/seeding_example_sycl.sycl
  extern/vecmem/CMakeLists.txt
Labels: build, sycl

#272 Changed track_params_estimation return type to collection buffer
  device/cuda/include/traccc/cuda/seeding/track_params_estimation.hpp
  device/cuda/src/seeding/track_params_estimation.cu
  device/sycl/include/traccc/sycl/seeding/track_params_estimation.hpp
  device/sycl/src/seeding/track_params_estimation.sycl
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: cuda, improvement, sycl

#273 File reading small improvement
  io/include/traccc/io/csv.hpp
Labels: improvement, cpu

#274 Changed csv cell reading to counting + filling cell container
  io/include/traccc/io/csv.hpp
Labels: improvement, cpu

#279 TBB Support / Example, main branch (2022.11.22.)
  CMakeLists.txt
  examples/run/cpu/CMakeLists.txt
  examples/run/cpu/tbb_task_example.cpp
  extern/tbb/CMakeLists.txt
  extern/tbb/README.md
Labels: feature

#280 Added initial throughput test for CPU full tracking
  examples/options/CMakeLists.txt
  examples/options/include/traccc/options/throughput_full_tracking_input_options.hpp
  examples/options/src/options/throughput_full_tracking_input_options.cpp
  examples/run/cpu/CMakeLists.txt
  examples/run/cpu/throughput_seq_example.cpp
  performance/include/traccc/performance/timing_info.hpp
  performance/src/performance/timer.cpp
  performance/src/performance/timing_info.cpp
Labels: feature, cpu

#283 Multi-Threaded CPU Throughput Test, main branch (2022.11.24.)
  examples/options/CMakeLists.txt
  examples/options/include/traccc/options/mt_options.hpp
  examples/options/include/traccc/options/throughput_full_tracking_input_options.hpp
  examples/options/include/traccc/options/throughput_options.hpp
  examples/options/src/options/mt_options.cpp
  examples/options/src/options/throughput_full_tracking_input_options.cpp
  examples/options/src/options/throughput_options.cpp
  examples/run/cpu/CMakeLists.txt
  examples/run/cpu/tbb_task_example.cpp
  examples/run/cpu/throughput_seq_example.cpp
  examples/run/cpu/throughput_tbb_seq_example.cpp
  io/CMakeLists.txt
  io/include/traccc/io/data_format.hpp
  io/src/data_format.cpp
Labels: feature, cpu

#284 TBB Thread Number Fix, main branch (2022.11.24.)
  examples/run/cpu/throughput_tbb_seq_example.cpp
Labels: bug, cpu

#286 Packaging (Fix), main branch (2022.11.25.)
  CMakeLists.txt
  cmake/traccc-config.cmake.in
  cmake/traccc-functions.cmake
  cmake/traccc-packaging.cmake
Labels: bug, build

#285 Particle Reader, main branch (2022.11.24.)
  core/include/traccc/edm/particle.hpp
  io/CMakeLists.txt
  io/include/traccc/io/read_particles.hpp
  io/src/csv/read_particles.cpp
  io/src/csv/read_particles.hpp
  io/src/read_particles.cpp
  tests/io/test_csv.cpp
Labels: feature, edm
