Repository acts-project/traccc, pull requests merged in 2022-09, with the labels that each got.

#226 Add support for the Futhark programming language
  CMakeLists.txt
  README.md
  cmake/FindFuthark.cmake
  device/futhark/CMakeLists.txt
  device/futhark/include/traccc/futhark/context.hpp
  device/futhark/include/traccc/futhark/utils.hpp
  device/futhark/include/traccc/futhark/wrapper.hpp
  device/futhark/src/context.cpp
  device/futhark/src/edm.fut
  device/futhark/src/entry.fut
  device/futhark/src/linear.fut
  device/futhark/src/maybe.fut
  device/futhark/src/zip.fut
Labels: feature, futhark

#232 CI Update, main branch (2022.09.15.)
  .github/workflows/builds.yml
Labels: cicd

#233 Prefix Sum SYCL Kernel Fix, main branch (2022.09.15.)
  device/sycl/src/seeding/seed_finding.sycl
Labels: bug

#231 Switch traccc::container to thrust::pair, main branch (2022.09.14.)
  CMakeLists.txt
  core/CMakeLists.txt
  core/include/traccc/edm/details/container_base.hpp
  core/include/traccc/edm/details/device_container.hpp
  core/include/traccc/edm/details/host_container.hpp
  core/include/traccc/edm/internal_spacepoint.hpp
  core/include/traccc/edm/seed.hpp
  device/common/CMakeLists.txt
  device/common/include/traccc/device/get_prefix_sum.hpp
  device/common/include/traccc/seeding/device/impl/count_grid_capacities.ipp
  extern/detray/CMakeLists.txt
  extern/thrust/CMakeLists.txt
  extern/thrust/README.md
Labels: improvement, edm

#227 Add Futhark implementation of measurement creation
  README.md
  device/futhark/CMakeLists.txt
  device/futhark/include/traccc/futhark/component_connection.hpp
  device/futhark/include/traccc/futhark/utils.hpp
  device/futhark/include/traccc/futhark/wrapper.hpp
  device/futhark/src/component_connection.cpp
  device/futhark/src/entry.fut
  device/futhark/src/measurement_creation.fut
  tests/CMakeLists.txt
  tests/futhark/CMakeLists.txt
  tests/futhark/test_cca.cpp
Labels: feature, futhark

#239 Cache φ value of internal spacepoints
  core/include/traccc/edm/internal_spacepoint.hpp
Labels: improvement

#240 Internal Spacepoint Fix, main branch (2022.09.20.)
  core/include/traccc/edm/internal_spacepoint.hpp
  core/include/traccc/seeding/detail/spacepoint_grid.hpp
Labels: bug, edm

#241 Updated readme to match current development status
  README.md
Labels: documentation

#238 Container Copy Algorithms, main branch (2022.09.19.)
  device/common/CMakeLists.txt
  device/common/include/traccc/device/container_d2h_copy_alg.hpp
  device/common/include/traccc/device/container_h2d_copy_alg.hpp
  device/common/include/traccc/device/impl/container_d2h_copy_alg.ipp
  device/common/include/traccc/device/impl/container_h2d_copy_alg.ipp
  tests/cuda/CMakeLists.txt
  tests/cuda/test_copy_algs.cpp
Labels: feature, cuda

#242 Allow use of system libraries by default
  CMakeLists.txt
Labels: build
