Repository acts-project/traccc, pull requests merged in 2022-05, with the labels that each got.

#182 Update Algebra Plugins and Detray, main branch (2022.05.03.)
  extern/algebra-plugins/CMakeLists.txt
  extern/detray/CMakeLists.txt
  extern/detray/README.md
Labels: build

#183 Update VecMem, main branch (2022.05.03.)
  extern/vecmem/CMakeLists.txt
Labels: build

#184 Const Correctness Updates, main branch (2022.05.05.)
  core/CMakeLists.txt
  core/include/traccc/edm/container.hpp
  core/include/traccc/seeding/detail/spacepoint_grid.hpp
  core/include/traccc/utils/type_traits.hpp
Labels: improvement, edm

#188 Container Cleanup, main branch (2022.05.09.)
  core/include/traccc/edm/container.hpp
  device/common/include/traccc/edm/device/doublet_counter.hpp
  device/common/include/traccc/seeding/device/count_doublets.hpp
  device/common/include/traccc/seeding/device/find_doublets.hpp
  device/common/include/traccc/seeding/device/impl/count_doublets.ipp
  device/common/include/traccc/seeding/device/impl/find_doublets.ipp
  device/common/include/traccc/seeding/device/make_doublet_buffers.hpp
  device/common/include/traccc/seeding/device/make_doublet_counter_buffer.hpp
  device/common/src/seeding/make_doublet_buffers.cpp
  device/common/src/seeding/make_doublet_counter_buffer.cpp
  device/cuda/include/traccc/cuda/seeding/seed_selecting.hpp
  device/cuda/include/traccc/cuda/seeding/triplet_counting.hpp
  device/cuda/include/traccc/cuda/seeding/triplet_finding.hpp
  device/cuda/src/seeding/seed_finding.cu
  device/cuda/src/seeding/seed_selecting.cu
  device/cuda/src/seeding/triplet_counting.cu
  device/cuda/src/seeding/triplet_finding.cu
  device/sycl/src/seeding/seed_finding.sycl
  device/sycl/src/seeding/seed_selecting.hpp
  device/sycl/src/seeding/seed_selecting.sycl
  device/sycl/src/seeding/triplet_counting.hpp
  device/sycl/src/seeding/triplet_counting.sycl
  device/sycl/src/seeding/triplet_finding.hpp
  device/sycl/src/seeding/triplet_finding.sycl
Labels: edm

#189 Cell EDM Update, main branch (2022.05.10.)
  core/CMakeLists.txt
  core/include/traccc/clusterization/clusterization_algorithm.hpp
  core/include/traccc/clusterization/component_connection.hpp
  core/include/traccc/clusterization/detail/sparse_ccl.hpp
  core/include/traccc/edm/cell.hpp
  core/src/clusterization/clusterization_algorithm.cpp
  core/src/clusterization/component_connection.cpp
  device/cuda/include/traccc/cuda/cca/component_connection.hpp
  device/cuda/src/cca/component_connection.cu
  device/sycl/include/traccc/sycl/clusterization/cluster_finding.hpp
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/src/clusterization/cluster_finding.cpp
  device/sycl/src/clusterization/component_connection.hpp
  device/sycl/src/clusterization/component_connection.sycl
  device/sycl/src/clusterization/measurement_creation.sycl
  examples/io/create_binaries.cpp
  examples/run/cpu/ccl_example.cpp
  examples/run/cpu/seq_example.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/openmp/io_dec_par_example.cpp
  examples/run/openmp/par_example.cpp
  examples/run/sycl/seq_example_sycl.sycl
  io/include/traccc/io/csv.hpp
  io/include/traccc/io/demonstrator_edm.hpp
  io/include/traccc/io/mapper.hpp
  io/include/traccc/io/reader.hpp
  io/include/traccc/io/writer.hpp
  tests/common/tests/cca_test.hpp
  tests/cpu/seq_single_module.cpp
  tests/cpu/test_cca.cpp
  tests/cpu/test_component_connection.cpp
  tests/cuda/test_cca.cpp
  tests/io/test_binary.cpp
Labels: sycl, cpu, edm

#190 Cluster EDM Update, main branch (2022.05.11.)
  core/CMakeLists.txt
  core/include/traccc/clusterization/component_connection.hpp
  core/include/traccc/clusterization/detail/measurement_creation_helper.hpp
  core/include/traccc/clusterization/measurement_creation.hpp
  core/include/traccc/edm/cluster.hpp
  core/src/clusterization/clusterization_algorithm.cpp
  core/src/clusterization/component_connection.cpp
  core/src/clusterization/measurement_creation.cpp
  device/sycl/include/traccc/sycl/clusterization/cluster_finding.hpp
  device/sycl/src/clusterization/cluster_finding.cpp
  device/sycl/src/clusterization/component_connection.hpp
  device/sycl/src/clusterization/component_connection.sycl
  device/sycl/src/clusterization/measurement_creation.hpp
  device/sycl/src/clusterization/measurement_creation.sycl
  examples/run/cpu/ccl_example.cpp
  io/include/traccc/io/csv.hpp
  io/include/traccc/io/mapper.hpp
  tests/cpu/seq_single_module.cpp
  tests/cpu/test_cca.cpp
Labels: sycl, cpu, edm

#191 Add additional comments to CUDA CCL algorithm
  device/cuda/src/cca/component_connection.cu
Labels: documentation, cuda

#193 Measurement EDM Update, main branch (2022.05.17.)
  core/CMakeLists.txt
  core/include/traccc/clusterization/clusterization_algorithm.hpp
  core/include/traccc/clusterization/measurement_creation.hpp
  core/include/traccc/clusterization/spacepoint_formation.hpp
  core/include/traccc/edm/measurement.hpp
  core/include/traccc/edm/spacepoint.hpp
  core/src/clusterization/clusterization_algorithm.cpp
  core/src/clusterization/spacepoint_formation.cpp
  device/cuda/include/traccc/cuda/cca/component_connection.hpp
  device/cuda/src/cca/component_connection.cu
  device/sycl/src/clusterization/clusterization_algorithm.cpp
  device/sycl/src/clusterization/measurement_creation.hpp
  device/sycl/src/clusterization/measurement_creation.sycl
  device/sycl/src/clusterization/spacepoint_formation.hpp
  device/sycl/src/clusterization/spacepoint_formation.sycl
  io/include/traccc/io/csv.hpp
  io/include/traccc/io/demonstrator_edm.hpp
  io/include/traccc/io/mapper.hpp
  tests/cpu/seq_single_module.cpp
  tests/cpu/test_cca.cpp
  tests/cuda/test_cca.cpp
Labels: tests, cuda, sycl, edm

#196 Spacepoint EDM Update, main branch (2022.05.18.)
  core/CMakeLists.txt
  core/include/traccc/clusterization/spacepoint_formation.hpp
  core/include/traccc/edm/seed.hpp
  core/include/traccc/edm/spacepoint.hpp
  core/include/traccc/seeding/seed_filtering.hpp
  core/include/traccc/seeding/seed_finding.hpp
  core/include/traccc/seeding/seeding_algorithm.hpp
  core/include/traccc/seeding/spacepoint_binning.hpp
  core/include/traccc/seeding/track_params_estimation.hpp
  core/src/clusterization/spacepoint_formation.cpp
  core/src/seeding/seed_filtering.cpp
  core/src/seeding/seed_finding.cpp
  core/src/seeding/seeding_algorithm.cpp
  core/src/seeding/spacepoint_binning.cpp
  core/src/seeding/track_params_estimation.cpp
  device/common/include/traccc/seeding/device/count_grid_capacities.hpp
  device/common/include/traccc/seeding/device/impl/count_grid_capacities.ipp
  device/common/include/traccc/seeding/device/impl/populate_grid.ipp
  device/common/include/traccc/seeding/device/populate_grid.hpp
  device/cuda/CMakeLists.txt
  device/cuda/include/traccc/cuda/seeding/seed_finding.hpp
  device/cuda/include/traccc/cuda/seeding/seed_selecting.hpp
  device/cuda/include/traccc/cuda/seeding/seeding_algorithm.hpp
  device/cuda/include/traccc/cuda/seeding/spacepoint_binning.hpp
  device/cuda/include/traccc/cuda/seeding/track_params_estimation.hpp
  device/cuda/src/seeding/seed_finding.cu
  device/cuda/src/seeding/seed_selecting.cu
  device/cuda/src/seeding/seeding_algorithm.cpp
  device/cuda/src/seeding/spacepoint_binning.cu
  device/cuda/src/seeding/track_params_estimation.cu
  device/sycl/CMakeLists.txt
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/include/traccc/sycl/seeding/seed_finding.hpp
  device/sycl/include/traccc/sycl/seeding/seeding_algorithm.hpp
  device/sycl/include/traccc/sycl/seeding/spacepoint_binning.hpp
  device/sycl/include/traccc/sycl/seeding/track_params_estimation.hpp
  device/sycl/src/clusterization/clusterization_algorithm.cpp
  device/sycl/src/clusterization/spacepoint_formation.hpp
  device/sycl/src/clusterization/spacepoint_formation.sycl
  device/sycl/src/seeding/seed_finding.sycl
  device/sycl/src/seeding/seed_selecting.hpp
  device/sycl/src/seeding/seed_selecting.sycl
  device/sycl/src/seeding/seeding_algorithm.cpp
  device/sycl/src/seeding/spacepoint_binning.sycl
  device/sycl/src/seeding/track_params_estimation.sycl
  examples/io/create_binaries.cpp
  examples/performance/include/traccc/efficiency/seeding_performance_writer.hpp
  examples/run/cpu/seeding_example.cpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
  io/include/traccc/io/csv.hpp
  io/include/traccc/io/demonstrator_edm.hpp
  io/include/traccc/io/mapper.hpp
  io/include/traccc/io/reader.hpp
  io/include/traccc/io/writer.hpp
  tests/cpu/compare_with_acts_seeding.cpp
  tests/cpu/seq_single_module.cpp
  tests/io/test_binary.cpp
Labels: cuda, sycl, cpu, edm

#199 CUDA Seedfinding Fix, main branch (2022.05.24.)
  device/cuda/src/seeding/seed_selecting.cu
  device/cuda/src/seeding/track_params_estimation.cu
Labels: bug, cuda
