Repository acts-project/traccc, pull requests merged in 2023-02, with the labels that each got.

#315 Fixed multithreaded application to run different events
  examples/run/common/throughput_mt.ipp
Labels: bug

#313 Fixed partition merging in Cuda CCA
  device/cuda/src/cca/component_connection.cu
Labels: bug, cuda

#316 Fuse partitioning and clusterization CUDA kernels
  device/cuda/src/cca/component_connection.cu
Labels: cuda, improvement

#317 Improved performance of clusterization
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  device/common/include/traccc/clusterization/device/impl/reduce_problem_cell.ipp
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/sycl/src/clusterization/clusterization_algorithm.sycl
Labels: cuda, improvement, sycl

#319 Remove headers from doublet and triplet containers.
  core/include/traccc/seeding/detail/doublet.hpp
  core/include/traccc/seeding/detail/triplet.hpp
  device/common/include/traccc/seeding/device/impl/count_triplets.ipp
  device/common/include/traccc/seeding/device/impl/find_doublets.ipp
  device/common/include/traccc/seeding/device/impl/find_triplets.ipp
  device/common/include/traccc/seeding/device/impl/select_seeds.ipp
Labels: refactor, edm

#318 Fuse partitioning and CCA kernels and remove CPU partitioning algorithm
  device/common/CMakeLists.txt
  device/common/include/traccc/clusterization/device/aggregate_cluster.hpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  device/common/include/traccc/clusterization/device/impl/reduce_problem_cell.ipp
  device/common/include/traccc/clusterization/device/partitioning_algorithm.hpp
  device/common/include/traccc/clusterization/device/reduce_problem_cell.hpp
  device/common/include/traccc/edm/device/partition.hpp
  device/common/src/clusterization/partitioning_algorithm.cpp
  device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  examples/options/include/traccc/options/common_options.hpp
  examples/options/include/traccc/options/throughput_options.hpp
  examples/options/src/options/common_options.cpp
  examples/options/src/options/throughput_options.cpp
  examples/run/common/throughput_mt_alt.ipp
  examples/run/common/throughput_st_alt.ipp
  examples/run/cuda/full_chain_algorithm.cpp
  examples/run/cuda/full_chain_algorithm.hpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: cuda, improvement, sycl, cpu

#321 Remove redundant information from counter headers
  device/common/include/traccc/edm/device/doublet_counter.hpp
  device/common/include/traccc/edm/device/triplet_counter.hpp
  device/common/include/traccc/seeding/device/impl/count_doublets.ipp
  device/common/include/traccc/seeding/device/impl/count_triplets.ipp
Labels: cleanup, edm

#320 Cleanup: Remove redundant calls to copying/getting size of buffers in seed finding.
  device/common/include/traccc/seeding/device/make_doublet_buffers.hpp
  device/common/include/traccc/seeding/device/make_triplet_buffer.hpp
  device/common/include/traccc/seeding/device/make_triplet_counter_buffer.hpp
  device/common/src/seeding/make_doublet_buffers.cpp
  device/common/src/seeding/make_doublet_counter_buffer.cpp
  device/common/src/seeding/make_triplet_buffer.cpp
  device/common/src/seeding/make_triplet_counter_buffer.cpp
  device/cuda/src/seeding/seed_finding.cu
  device/sycl/src/seeding/seed_finding.sycl
  extern/vecmem/CMakeLists.txt
Labels: cleanup, cuda, sycl

#322 Detray 0.22.0 Upgrade, main branch (2023.02.27.)
  extern/detray/CMakeLists.txt
Labels: build

#323 SYCL Eigen Build Update, main branch (2023.02.27.)
  core/CMakeLists.txt
  device/sycl/CMakeLists.txt
  examples/run/sycl/CMakeLists.txt
Labels: build, sycl
