Repository acts-project/traccc, pull requests merged in 2023-06, with the labels that each got.

#403 Remove seeding internal unit system and refactor interface
  core/CMakeLists.txt
  core/include/traccc/definitions/common.hpp
  core/include/traccc/seeding/detail/seeding_config.hpp
  core/include/traccc/seeding/seeding_algorithm.hpp
  core/include/traccc/seeding/spacepoint_binning_helper.hpp
  core/include/traccc/seeding/track_params_estimation_helper.hpp
  core/src/seeding/seed_finding.cpp
  core/src/seeding/seeding_algorithm.cpp
  core/src/seeding/spacepoint_binning.cpp
  device/cuda/include/traccc/cuda/seeding/seeding_algorithm.hpp
  device/cuda/src/seeding/seed_finding.cu
  device/cuda/src/seeding/seeding_algorithm.cpp
  device/cuda/src/seeding/spacepoint_binning.cu
  device/kokkos/src/seeding/spacepoint_binning.cpp
  device/sycl/include/traccc/sycl/seeding/seeding_algorithm.hpp
  device/sycl/src/seeding/seed_finding.sycl
  device/sycl/src/seeding/seeding_algorithm.cpp
  device/sycl/src/seeding/spacepoint_binning.sycl
  examples/run/common/throughput_mt.ipp
  examples/run/common/throughput_st.hpp
  examples/run/common/throughput_st.ipp
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/full_chain_algorithm.hpp
  examples/run/cpu/seeding_example.cpp
  examples/run/cpu/seq_example.cpp
  examples/run/cuda/full_chain_algorithm.cpp
  examples/run/cuda/full_chain_algorithm.hpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/kokkos/seeding_example_kokkos.cpp
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
  io/CMakeLists.txt
  io/include/traccc/io/digitization_config.hpp
  io/include/traccc/io/read_cells.hpp
  io/include/traccc/io/read_digitization_config.hpp
  io/src/csv/read_cells.hpp
  performance/include/traccc/efficiency/nseed_performance_writer.hpp
  tests/cpu/compare_with_acts_seeding.cpp
Labels: bug, refactor

#394 Record fitting statistics (Ndf, Chi2) in KF and Add its plot tool
  core/CMakeLists.txt
  core/include/traccc/edm/track_state.hpp
  core/include/traccc/fitting/kalman_filter/gain_matrix_smoother.hpp
  core/include/traccc/fitting/kalman_filter/gain_matrix_updater.hpp
  core/include/traccc/fitting/kalman_filter/kalman_actor.hpp
  core/include/traccc/fitting/kalman_filter/kalman_fitter.hpp
  core/include/traccc/fitting/kalman_filter/statistics_updater.hpp
  device/common/include/traccc/fitting/device/impl/fit.ipp
  performance/CMakeLists.txt
  performance/include/traccc/resolution/fitting_performance_writer.hpp
  performance/include/traccc/resolution/stat_plot_tool_config.hpp
  performance/src/resolution/fitting_performance_writer.cpp
  performance/src/resolution/stat_plot_tool.cpp
  performance/src/resolution/stat_plot_tool.hpp
  tests/cpu/test_kalman_fitter.cpp
  tests/cuda/test_kalman_filter.cpp
  tests/sycl/test_kalman_filter.sycl
Labels: feature, physics

#416 Add tests for seeding edge cases
  tests/cpu/CMakeLists.txt
  tests/cpu/test_seeding.cpp
Labels: tests

#423 Minor improvements
  core/include/traccc/clusterization/detail/sparse_ccl.hpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: cpu, examples
