Repository acts-project/traccc, pull requests merged in 2023-01, with the labels that each got.

#297 Asynchronous Container Copies, main branch (2022.12.14.)
  device/common/include/traccc/device/container_d2h_copy_alg.hpp
  device/common/include/traccc/device/container_h2d_copy_alg.hpp
  device/common/include/traccc/device/impl/container_d2h_copy_alg.ipp
  device/common/include/traccc/device/impl/container_h2d_copy_alg.ipp
  examples/run/cuda/full_chain_algorithm.cpp
  extern/vecmem/CMakeLists.txt
Labels: cuda, improvement

#302 SYCL Throughput H->D Copy Fix, main branch (2023.01.11.)
  examples/run/sycl/full_chain_algorithm.sycl
Labels: bug, sycl

#303 SYCL Pinned Host Memory, main branch (2023.01.13.)
  examples/run/sycl/throughput_mt.cpp
Labels: improvement, sycl

#288 Created cell reader into collection of cells + collection of modules.
  core/CMakeLists.txt
  core/include/traccc/edm/alt_cell.hpp
  core/include/traccc/edm/cell.hpp
  io/CMakeLists.txt
  io/include/traccc/io/read_cells_alt.hpp
  io/include/traccc/io/read_spacepoints_alt.hpp
  io/src/csv/read_cells_alt.cpp
  io/src/csv/read_cells_alt.hpp
  io/src/csv/read_spacepoints_alt.cpp
  io/src/csv/read_spacepoints_alt.hpp
  io/src/read_cells_alt.cpp
  io/src/read_spacepoints_alt.cpp
  tests/io/test_csv.cpp
Labels: feature

#305 SYCL Eigen Fix, main branch (2023.01.20.)
  device/sycl/CMakeLists.txt
  examples/run/sycl/CMakeLists.txt
Labels: bug, sycl

#308 Remove CCL partition data structure
  device/cuda/src/cca/component_connection.cu
Labels: refactor, cuda

#309 Implement cell partitioning in CUDA
  device/cuda/src/cca/component_connection.cu
Labels: feature, cuda

#310 Fix unused parameter in CCA code
  device/cuda/src/cca/component_connection.cu
Labels: bug, cuda

#311 Add formatting requirement for code in `plugins/`
  .github/check_format.sh
  plugins/algebra/array/include/traccc/plugins/algebra/array_definitions.hpp
  plugins/algebra/eigen/include/traccc/plugins/algebra/eigen_definitions.hpp
  plugins/algebra/smatrix/include/traccc/plugins/algebra/smatrix_definitions.hpp
  plugins/algebra/vc/include/traccc/plugins/algebra/vc_definitions.hpp
  plugins/algebra/vecmem/include/traccc/plugins/algebra/vecmem_definitions.hpp
Labels: cicd, formatting
