Repository acts-project/traccc, pull requests merged in 2023-03, with the labels that each got.

#327 Intel iGPU Compatibility, main branch (2023.03.02.)
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/src/clusterization/clusterization_algorithm.sycl
Labels: bug, sycl

#330 Add CUDA Error Check in KF
  device/cuda/src/fitting/fitting_algorithm.cu
Labels: bug, cuda

#329 Add additional output information to clustering algorithm
  device/common/include/traccc/clusterization/device/aggregate_cluster.hpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  examples/run/cuda/full_chain_algorithm.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/sycl/full_chain_algorithm.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: cuda, improvement, sycl

#328 Optional ROOT, main branch (2023.03.03.)
  CMakeLists.txt
  cmake/FindROOT.cmake
  examples/run/cpu/seeding_example.cpp
  examples/run/cpu/seq_example.cpp
  performance/CMakeLists.txt
  performance/include/traccc/efficiency/seeding_performance_writer.hpp
  performance/include/traccc/resolution/fitting_performance_writer.hpp
  performance/include/traccc/resolution/res_plot_tool.hpp
  performance/include/traccc/resolution/res_plot_tool_config.hpp
  performance/include/traccc/utils/helpers.hpp
  performance/src/efficiency/duplication_plot_tool.hpp
  performance/src/efficiency/eff_plot_tool.hpp
  performance/src/efficiency/seeding_performance_writer.cpp
  performance/src/efficiency/track_classification.hpp
  performance/src/resolution/fitting_performance_writer.cpp
  performance/src/resolution/res_plot_tool.cpp
  performance/src/resolution/res_plot_tool.hpp
  performance/src/utils/helpers.cpp
  performance/src/utils/helpers.hpp
  tests/CMakeLists.txt
  tests/common/tests/kalman_fitting_test.cpp
  tests/common/tests/kalman_fitting_test.hpp
  tests/cpu/test_kalman_fitter.cpp
  tests/cuda/test_kalman_filter.cpp
  tests/sycl/test_kalman_filter.sycl
Labels: build, refactor, tests

#331 Change memset in clusterization to be asynchronous
  device/cuda/src/clusterization/clusterization_algorithm.cu
Labels: cuda, improvement

#332 Fix launch error in CUDA CCA without cells
  device/cuda/src/cca/component_connection.cu
Labels: bug, cuda

#333 Seeding FP64 Cleanup, main branch (2023.03.08.)
  core/include/traccc/seeding/doublet_finding_helper.hpp
  core/include/traccc/seeding/triplet_finding_helper.hpp
  device/common/include/traccc/seeding/device/impl/count_triplets.ipp
Labels: bug, sycl

#334 CMake Updates, main branch (2023.03.09.)
  .github/workflows/builds.yml
  CMakeLists.txt
  cmake/traccc-compiler-options-cpp.cmake
  cmake/traccc-compiler-options-cuda.cmake
  cmake/traccc-compiler-options-sycl.cmake
  cmake/traccc-functions.cmake
Labels: build

#335 Clusterization FP64 Cleanup, main branch (2023.03.09.)
  core/include/traccc/clusterization/detail/measurement_creation_helper.hpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
Labels: bug, sycl

#326 Change seeding to use flat vectors of doublets and triplets.
  device/common/CMakeLists.txt
  device/common/include/traccc/edm/device/device_doublet.hpp
  device/common/include/traccc/edm/device/device_triplet.hpp
  device/common/include/traccc/edm/device/doublet_counter.hpp
  device/common/include/traccc/edm/device/seeding_global_counter.hpp
  device/common/include/traccc/edm/device/triplet_counter.hpp
  device/common/include/traccc/seeding/device/count_doublets.hpp
  device/common/include/traccc/seeding/device/count_triplets.hpp
  device/common/include/traccc/seeding/device/find_doublets.hpp
  device/common/include/traccc/seeding/device/find_triplets.hpp
  device/common/include/traccc/seeding/device/impl/count_doublets.ipp
  device/common/include/traccc/seeding/device/impl/count_triplets.ipp
  device/common/include/traccc/seeding/device/impl/find_doublets.ipp
  device/common/include/traccc/seeding/device/impl/find_triplets.ipp
  device/common/include/traccc/seeding/device/impl/reduce_triplet_counts.ipp
  device/common/include/traccc/seeding/device/impl/select_seeds.ipp
  device/common/include/traccc/seeding/device/impl/update_triplet_weights.ipp
  device/common/include/traccc/seeding/device/make_doublet_buffers.hpp
  device/common/include/traccc/seeding/device/make_doublet_counter_buffer.hpp
  device/common/include/traccc/seeding/device/make_triplet_buffer.hpp
  device/common/include/traccc/seeding/device/make_triplet_counter_buffer.hpp
  device/common/include/traccc/seeding/device/reduce_triplet_counts.hpp
  device/common/include/traccc/seeding/device/select_seeds.hpp
  device/common/include/traccc/seeding/device/update_triplet_weights.hpp
  device/common/src/seeding/make_doublet_buffers.cpp
  device/common/src/seeding/make_doublet_counter_buffer.cpp
  device/common/src/seeding/make_triplet_buffer.cpp
  device/common/src/seeding/make_triplet_counter_buffer.cpp
  device/cuda/src/seeding/seed_finding.cu
  device/sycl/src/seeding/seed_finding.sycl
Labels: refactor, cuda, improvement, sycl

#338 Remove return in CCL_kernel
  device/sycl/src/clusterization/clusterization_algorithm.sycl
Labels: bug, sycl

#340 Project Version Update, main branch (2023.03.10.)
  CMakeLists.txt
Labels: build

#336 Add CI functionality to detect FP64 instructions in PTX
  .github/find_f64_ptx.py
  .github/workflows/builds.yml
  cmake/traccc-compiler-options-cuda.cmake
Labels: cicd, cuda

#349 Add Thrust Scan and Sort tests
  tests/cuda/CMakeLists.txt
  tests/cuda/test_thrust.cu
Labels: tests, cuda

#350 Remove deprecated information from CPU seeding EDM
  core/include/traccc/seeding/detail/doublet.hpp
  core/include/traccc/seeding/detail/triplet.hpp
Labels: cleanup, cpu

#339 Replace FP64 by FP32 in gain matrix smoother
  core/include/traccc/fitting/kalman_filter/gain_matrix_smoother.hpp
Labels: performance, shared

#356 Add concurrency group for `build` CI jobs
  .github/workflows/builds.yml
Labels: cicd

#346 Implement warp ballot sync with indexing in CUDA
  device/cuda/src/utils/sync.cuh
  tests/cuda/CMakeLists.txt
  tests/cuda/test_sync.cu
Labels: feature, cuda

#360 Thrust System Includes, main branch (2023.03.22.)
  CMakeLists.txt
Labels: build

#362 SYCL and Build Updates, main branch (2023.03.23.)
  .github/ci_setup.sh
  .github/workflows/builds.yml
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  device/sycl/src/seeding/seed_finding.sycl
  examples/run/sycl/CMakeLists.txt
  examples/run/sycl/seq_example_sycl.sycl
  tests/cuda/CMakeLists.txt
Labels: build, cuda, sycl

#367 CMake Export Fix, main branch (2023.03.24.)
  cmake/traccc-config.cmake.in
Labels: bug, build

#358 Update to detray v28
  core/include/traccc/fitting/kalman_filter/gain_matrix_updater.hpp
  core/include/traccc/fitting/kalman_filter/kalman_actor.hpp
  core/include/traccc/fitting/kalman_filter/kalman_fitter.hpp
  data/traccc_data_get_files.sh
  data/traccc_data_package_files.sh
  device/cuda/src/fitting/fitting_algorithm.cu
  device/sycl/src/fitting/fitting_algorithm.sycl
  examples/options/include/traccc/options/options.hpp
  examples/options/include/traccc/options/particle_gen_options.hpp
  examples/simulation/simulate_telescope.cpp
  extern/detray/CMakeLists.txt
  tests/common/tests/kalman_fitting_test.hpp
  tests/core/CMakeLists.txt
  tests/core/test_options.cpp
  tests/cpu/test_kalman_fitter.cpp
  tests/cuda/test_kalman_filter.cpp
  tests/io/test_event_map.cpp
  tests/sycl/test_kalman_filter.sycl
Labels: build, improvement

#368 Change alt_cell to not depend on cell. Remove deprecated cell.
  README.md
  core/CMakeLists.txt
  core/include/traccc/clusterization/detail/measurement_creation_helper.hpp
  core/include/traccc/clusterization/detail/sparse_ccl.hpp
  core/include/traccc/edm/alt_cell.hpp
  core/include/traccc/edm/alt_measurement.hpp
  core/include/traccc/edm/cell.hpp
  core/include/traccc/edm/measurement.hpp
  device/common/include/traccc/clusterization/device/form_spacepoints.hpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  device/common/include/traccc/clusterization/device/impl/reduce_problem_cell.ipp
  device/cuda/src/cca/component_connection.cu
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  examples/run/common/throughput_mt.hpp
  examples/run/common/throughput_mt.ipp
  examples/run/common/throughput_mt_alt.ipp
  examples/run/common/throughput_st.hpp
  examples/run/common/throughput_st.ipp
  examples/run/common/throughput_st_alt.ipp
  io/CMakeLists.txt
  io/include/traccc/io/demonstrator_edm.hpp
  io/include/traccc/io/read.hpp
  io/include/traccc/io/read_cells.hpp
  io/src/csv/read_cells.cpp
  io/src/csv/read_cells.hpp
  io/src/csv/read_cells_alt.cpp
  io/src/mapper.cpp
  io/src/read.cpp
  io/src/read_cells.cpp
  tests/cpu/seq_single_module.cpp
  tests/cuda/CMakeLists.txt
  tests/cuda/test_copy_algs.cpp
  tests/io/test_csv.cpp
  tests/io/test_mapper.cpp
Labels: refactor, edm

#371 Change SYCL chain to use async memory copies
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/include/traccc/sycl/seeding/seed_finding.hpp
  device/sycl/include/traccc/sycl/seeding/seeding_algorithm.hpp
  device/sycl/include/traccc/sycl/seeding/spacepoint_binning.hpp
  device/sycl/include/traccc/sycl/seeding/track_params_estimation.hpp
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  device/sycl/src/seeding/seed_finding.sycl
  device/sycl/src/seeding/seeding_algorithm.cpp
  device/sycl/src/seeding/spacepoint_binning.sycl
  device/sycl/src/seeding/track_params_estimation.sycl
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
Labels: refactor, sycl

#374 Fix the unit of phi range
  examples/options/include/traccc/options/particle_gen_options.hpp
Labels: bug

#373 Fix: Sycl algorithms wait for assynchronous operations.
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  device/sycl/src/seeding/seed_finding.sycl
  device/sycl/src/seeding/spacepoint_binning.sycl
  device/sycl/src/seeding/track_params_estimation.sycl
  device/sycl/src/utils/make_prefix_sum_buff.sycl
Labels: sycl
