Repository acts-project/traccc, pull requests merged in 2023-10, with the labels that each got.

#449 (Experimental) Refactor Clusterization
  core/include/traccc/clusterization/detail/measurement_creation_helper.hpp
  core/include/traccc/edm/cell.hpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  device/common/include/traccc/clusterization/device/impl/reduce_problem_cell.ipp
  device/cuda/CMakeLists.txt
  device/cuda/include/traccc/cuda/clusterization/experimental/clusterization_algorithm.hpp
  device/cuda/src/clusterization/experimental/clusterization_algorithm.cu
  device/sycl/CMakeLists.txt
  device/sycl/include/traccc/sycl/clusterization/experimental/clusterization_algorithm.hpp
  device/sycl/src/clusterization/experimental/clusterization_algorithm.sycl
  io/src/csv/read_cells.cpp
  io/src/csv/read_measurements.cpp
  io/src/csv/read_spacepoints.cpp
  io/src/mapper.cpp
  tests/cpu/test_cca.cpp
  tests/cpu/test_clusterization_resolution.cpp
  tests/cuda/CMakeLists.txt
  tests/cuda/test_cca.cpp
  tests/cuda/test_clusterization.cpp
  tests/io/test_binary.cpp
  tests/io/test_csv.cpp
  tests/sycl/CMakeLists.txt
  tests/sycl/test_clusterization.sycl
Labels: refactor, cuda, sycl, cpu

#458 Make Csv Edm Public and add `local_key` to Measurement Edm
  io/CMakeLists.txt
  io/include/traccc/io/csv/cell.hpp
  io/include/traccc/io/csv/hit.hpp
  io/include/traccc/io/csv/measurement.hpp
  io/include/traccc/io/csv/particle.hpp
  io/src/csv/make_cell_reader.hpp
  io/src/csv/make_hit_reader.hpp
  io/src/csv/make_measurement_reader.hpp
  io/src/csv/make_particle_reader.hpp
  tests/io/mock_data/event000000000-measurements.csv
Labels: refactor

#469 Migrate Simulation Validation Script from Detray
  core/include/traccc/utils/subspace.hpp
  io/CMakeLists.txt
  io/include/traccc/io/csv/make_cell_reader.hpp
  io/include/traccc/io/csv/make_hit_reader.hpp
  io/include/traccc/io/csv/make_measurement_hit_id_reader.hpp
  io/include/traccc/io/csv/make_measurement_reader.hpp
  io/include/traccc/io/csv/make_particle_reader.hpp
  io/include/traccc/io/csv/make_surface_reader.hpp
  io/include/traccc/io/csv/surface.hpp
  io/src/csv/make_cell_reader.cpp
  io/src/csv/make_hit_reader.cpp
  io/src/csv/make_measurement_hit_id_reader.cpp
  io/src/csv/make_measurement_reader.cpp
  io/src/csv/make_particle_reader.cpp
  io/src/csv/make_surface_reader.cpp
  io/src/csv/read_cells.cpp
  io/src/csv/read_measurements.cpp
  io/src/csv/read_particles.cpp
  io/src/csv/read_spacepoints.cpp
  io/src/csv/read_surfaces.cpp
  io/src/csv/read_surfaces.hpp
  io/src/event_map2.cpp
  io/src/mapper.cpp
  simulation/include/traccc/simulation/smearing_writer.hpp
  tests/cpu/CMakeLists.txt
  tests/cpu/test_simulation.cpp
Labels: high prioirity

#478 Clang & CUDA Fix, main branch (2023.10.30.)
  device/cuda/CMakeLists.txt
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/cuda/src/clusterization/experimental/clusterization_algorithm_exp.cu
  tests/cuda/test_clusterization.cpp
  tests/cuda/test_spacepoint_formation.cpp
Labels: bug, tests, high prioirity
