Repository acts-project/traccc, pull requests merged in 2024-07, with the labels that each got.

#637 Zero output in mutex and unique lock tests
  tests/cuda/test_mutex.cu
  tests/cuda/test_unique_lock.cu
  tests/sycl/test_mutex.sycl
  tests/sycl/test_unique_lock.sycl
Labels: bug, tests, cuda, sycl

#638 Improve documentation of `unique_lock`
  device/common/include/traccc/device/unique_lock.hpp
Labels: documentation

#636 Enable CI tests for CPU-based SYCL builds
  .github/workflows/builds.yml
Labels: cicd, improvement

#602 Add concepts for barrier-like types
  device/common/include/traccc/clusterization/device/ccl_kernel.hpp
  device/common/include/traccc/clusterization/device/impl/ccl_kernel.ipp
  device/common/include/traccc/device/concepts/barrier.hpp
Labels: feature

#641 Add options for the max number of branches
  examples/options/include/traccc/options/track_finding.hpp
  examples/options/src/track_finding.cpp
Labels: improvement, shared

#642 Add missing wait statements to CCA testing code
  tests/cuda/test_cca.cpp
  tests/sycl/test_cca.sycl
Labels: bug, tests, cuda, sycl

#643 Enable thread backend for all Alpaka builds
  CMakeLists.txt
  extern/alpaka/CMakeLists.txt
Labels: bug, build, alpaka

#644 Require multiple threads for Alpaka CCL code
  device/alpaka/src/clusterization/clusterization_algorithm.cpp
  device/alpaka/src/utils/utils.hpp
Labels: bug, alpaka

#609 Add sanity checks for contiguity and orderedness
  core/include/traccc/finding/finding_algorithm.ipp
  core/include/traccc/sanity/contiguous_on.hpp
  core/include/traccc/sanity/ordered_on.hpp
  core/include/traccc/utils/projections.hpp
  core/include/traccc/utils/relations.hpp
  core/src/clusterization/sparse_ccl_algorithm.cpp
  device/cuda/CMakeLists.txt
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/cuda/src/finding/finding_algorithm.cu
  device/cuda/src/sanity/contiguous_on.cuh
  device/cuda/src/sanity/ordered_on.cuh
  device/sycl/CMakeLists.txt
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  device/sycl/src/sanity/contiguous_on.hpp
  device/sycl/src/sanity/ordered_on.hpp
  tests/cpu/CMakeLists.txt
  tests/cpu/test_sanity_contiguous_on.cpp
  tests/cpu/test_sanity_ordered_on.cpp
  tests/cuda/CMakeLists.txt
  tests/cuda/test_sanity_contiguous_on.cu
  tests/cuda/test_sanity_ordered_on.cu
  tests/sycl/CMakeLists.txt
  tests/sycl/test_sanity_contiguous_on.sycl
  tests/sycl/test_sanity_ordered_on.sycl
Labels: feature, cuda

#646 Add tests for the Alpaka CCL algorithm
  tests/alpaka/CMakeLists.txt
  tests/alpaka/test_cca.cpp
Labels: tests, alpaka

#649 Make Kokkos code compatible with C++20
  device/kokkos/src/seeding/spacepoint_binning.cpp
  extern/kokkos/CMakeLists.txt
Labels: bug, kokkos

#656 Temporarily disable SYCL Kalman fitter test
  tests/sycl/CMakeLists.txt
Labels: bug, tests, sycl

#648 Raise minimum C++ standard to 20
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  core/CMakeLists.txt
  core/include/traccc/definitions/concepts.hpp
  core/include/traccc/sanity/contiguous_on.hpp
  core/include/traccc/sanity/ordered_on.hpp
  device/common/include/traccc/clusterization/device/ccl_kernel.hpp
  device/common/include/traccc/clusterization/device/impl/ccl_kernel.ipp
  device/common/include/traccc/device/concepts/barrier.hpp
  device/common/include/traccc/seeding/device/impl/select_seeds.ipp
  device/cuda/src/sanity/contiguous_on.cuh
  device/cuda/src/sanity/ordered_on.cuh
  device/sycl/src/sanity/contiguous_on.hpp
  device/sycl/src/sanity/ordered_on.hpp
Labels: cicd, build

#595 Improve robustness and performance of CCL
  core/include/traccc/clusterization/clustering_config.hpp
  core/include/traccc/clusterization/clusterization_algorithm.hpp
  device/alpaka/CMakeLists.txt
  device/alpaka/include/traccc/alpaka/clusterization/clusterization_algorithm.hpp
  device/alpaka/src/clusterization/clusterization_algorithm.cpp
  device/common/include/traccc/clusterization/device/aggregate_cluster.hpp
  device/common/include/traccc/clusterization/device/ccl_kernel.hpp
  device/common/include/traccc/clusterization/device/ccl_kernel_definitions.hpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  device/common/include/traccc/clusterization/device/impl/ccl_kernel.ipp
  device/common/include/traccc/clusterization/device/impl/reduce_problem_cell.ipp
  device/common/include/traccc/clusterization/device/reduce_problem_cell.hpp
  device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  examples/options/include/traccc/options/clusterization.hpp
  examples/options/src/clusterization.cpp
  examples/run/common/throughput_mt.ipp
  examples/run/common/throughput_st.ipp
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/full_chain_algorithm.hpp
  examples/run/cuda/full_chain_algorithm.cpp
  examples/run/cuda/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
  tests/alpaka/test_cca.cpp
  tests/common/tests/cca_test.hpp
  tests/cuda/test_cca.cpp
  tests/cuda/test_clusterization.cpp
  tests/sycl/test_cca.sycl
  tests/sycl/test_clusterization.sycl
Labels: cuda, improvement, sycl
