Repository acts-project/traccc, pull requests merged in 2024-04, with the labels that each got.

#534 ODD Full Chain Reconstruction, main branch (2024.04.09.)
  examples/run/cpu/CMakeLists.txt
  examples/run/cpu/seq_example.cpp
Labels: cpu, examples

#536 Fix ambiguity resolution algorithm: add unique measurement_id
  core/include/traccc/clusterization/detail/measurement_creation_helper.hpp
Labels: bug, cpu

#543 Host Clusterization Reorganization, main branch (2024.04.16.)
  core/CMakeLists.txt
  core/include/traccc/clusterization/clusterization_algorithm.hpp
  core/include/traccc/clusterization/component_connection.hpp
  core/include/traccc/clusterization/detail/sparse_ccl.hpp
  core/include/traccc/clusterization/details/measurement_creation.hpp
  core/include/traccc/clusterization/details/spacepoint_formation.hpp
  core/include/traccc/clusterization/details/sparse_ccl.hpp
  core/include/traccc/clusterization/impl/measurement_creation.ipp
  core/include/traccc/clusterization/impl/spacepoint_formation.ipp
  core/include/traccc/clusterization/impl/sparse_ccl.ipp
  core/include/traccc/clusterization/measurement_creation_algorithm.hpp
  core/include/traccc/clusterization/spacepoint_formation_algorithm.hpp
  core/include/traccc/clusterization/sparse_ccl_algorithm.hpp
  core/src/clusterization/clusterization_algorithm.cpp
  core/src/clusterization/component_connection.cpp
  core/src/clusterization/measurement_creation.cpp
  core/src/clusterization/measurement_creation_algorithm.cpp
  core/src/clusterization/spacepoint_formation.cpp
  core/src/clusterization/spacepoint_formation_algorithm.cpp
  core/src/clusterization/sparse_ccl_algorithm.cpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  examples/run/cpu/ccl_example.cpp
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/full_chain_algorithm.hpp
  examples/run/cpu/seq_example.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/openmp/io_dec_par_example.cpp
  examples/run/openmp/par_example.cpp
  examples/run/sycl/seq_example_sycl.sycl
  io/src/mapper.cpp
  tests/cpu/seq_single_module.cpp
  tests/cpu/test_cca.cpp
  tests/cpu/test_clusterization_resolution.cpp
Labels: refactor, cpu, examples

#548 SYCL Clusterization Test Fix, main branch (2024.04.20.)
  tests/sycl/test_clusterization.sycl
Labels: bug, tests

#547 Cell Reading Rewrite, main branch (2024.04.19.)
  core/include/traccc/edm/cell.hpp
  io/include/traccc/io/read_cells.hpp
  io/src/csv/read_cells.cpp
  io/src/csv/read_cells.hpp
  io/src/mapper.cpp
  io/src/read_cells.cpp
  tests/io/test_csv.cpp
Labels: cleanup, edm

#551 Project Version Update, main branch (2024.04.22.)
  CMakeLists.txt
Labels: build

#553 Project Version Update, main branch (2024.04.24.)
  CMakeLists.txt
Labels: build

#554 Data V6, main branch (2024.04.24.)
  data/traccc_data_get_files.sh
  data/traccc_data_package_files.sh
Labels: build

#552 ODD CUDA Reconstruction, main branch (2024.04.23.)
  device/cuda/src/finding/finding_algorithm.cu
  examples/run/cuda/CMakeLists.txt
  examples/run/cuda/seq_example_cuda.cpp
Labels: feature, cuda, improvement, examples

#557 ref: Use angle from surface class instead of intersector
  core/include/traccc/finding/finding_algorithm.ipp
  core/include/traccc/utils/seed_generator.hpp
  device/common/include/traccc/finding/device/apply_interaction.hpp
  device/common/include/traccc/finding/device/impl/apply_interaction.ipp
  device/cuda/src/finding/finding_algorithm.cu
Labels: bug, refactor
