Repository acts-project/traccc, pull requests merged in 2024-11, with the labels that each got.

#765 Adapt seeding cpu test to acts v37.3.0
  extern/acts/CMakeLists.txt
  tests/common/tests/atlas_cuts.hpp
  tests/cpu/compare_with_acts_seeding.cpp
Labels: tests, improvement

#767 Parallelize Cell Reading For Throughput Measurements, main branch (2024.11.09.)
  examples/run/common/throughput_mt.ipp
Labels: performance, examples

#766 CMake Updates, main branch (2024.11.09.)
  CMakeLists.txt
  extern/algebra-plugins/CMakeLists.txt
  extern/benchmark/CMakeLists.txt
  extern/detray/CMakeLists.txt
  extern/googletest/CMakeLists.txt
Labels: build

#769 traccc::sycl::full_chain_algorithm Fixes, main branch (2024.11.12.)
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
Labels: bug, sycl

#756 De-Template (Host) Track Fitting, main branch (2024.10.28.)
  benchmarks/common/benchmarks/toy_detector_benchmark.hpp
  benchmarks/cpu/toy_detector_cpu.cpp
  benchmarks/cuda/toy_detector_cuda.cpp
  core/CMakeLists.txt
  core/include/traccc/fitting/details/fit_tracks.hpp
  core/include/traccc/fitting/fitting_algorithm.hpp
  core/include/traccc/fitting/kalman_fitting_algorithm.hpp
  core/src/fitting/kalman_fitting_algorithm.cpp
  core/src/fitting/kalman_fitting_algorithm_constant_field_default_detector.cpp
  core/src/fitting/kalman_fitting_algorithm_constant_field_telescope_detector.cpp
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/full_chain_algorithm.hpp
  examples/run/cpu/seeding_example.cpp
  examples/run/cpu/seq_example.cpp
  examples/run/cpu/truth_finding_example.cpp
  examples/run/cpu/truth_fitting_example.cpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/cuda/truth_finding_example_cuda.cpp
  examples/run/cuda/truth_fitting_example_cuda.cpp
  examples/run/sycl/full_chain_algorithm.hpp
  tests/cpu/test_ckf_combinatorics_telescope.cpp
  tests/cpu/test_ckf_sparse_tracks_telescope.cpp
  tests/cpu/test_kalman_fitter_telescope.cpp
  tests/cpu/test_kalman_fitter_wire_chamber.cpp
  tests/cuda/test_kalman_fitter_telescope.cpp
Labels: build, cpu

#771 Acts Seed-Finding Comparison Update, main branch (2024.11.13.)
  tests/CMakeLists.txt
  tests/common/tests/space_point.hpp
  tests/cpu/compare_with_acts_seeding.cpp
Labels: tests

#760 De-Template the SYCL Library, main branch (2024.11.01.)
  device/sycl/CMakeLists.txt
  device/sycl/include/traccc/sycl/fitting/fitting_algorithm.hpp
  device/sycl/include/traccc/sycl/fitting/kalman_fitting_algorithm.hpp
  device/sycl/include/traccc/sycl/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  device/sycl/include/traccc/sycl/seeding/spacepoint_formation_algorithm.hpp
  device/sycl/src/fitting/fit_tracks.hpp
  device/sycl/src/fitting/fitting_algorithm.sycl
  device/sycl/src/fitting/kalman_fitting_algorithm.cpp
  device/sycl/src/fitting/kalman_fitting_algorithm_constant_field_default_detector.sycl
  device/sycl/src/fitting/kalman_fitting_algorithm_constant_field_telescope_detector.sycl
  device/sycl/src/seeding/silicon_pixel_spacepoint_formation.hpp
  device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm_default_detector.sycl
  device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm_telescope_detector.sycl
  device/sycl/src/seeding/spacepoint_formation_algorithm.sycl
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/seq_example_sycl.sycl
  tests/sycl/test_spacepoint_formation.sycl
Labels: build, sycl

#777 Cell CSV Writing, main branch (2024.11.20.)
  io/CMakeLists.txt
  io/include/traccc/io/read_cells.hpp
  io/include/traccc/io/write.hpp
  io/src/csv/read_cells.cpp
  io/src/csv/read_cells.hpp
  io/src/csv/write_cells.cpp
  io/src/csv/write_cells.hpp
  io/src/read_cells.cpp
  io/src/write.cpp
  tests/io/test_csv.cpp
Labels: feature

#779 ITk Processing Fixes, main branch (2024.11.22.)
  core/include/traccc/fitting/details/fit_tracks.hpp
  examples/run/alpaka/seq_example_alpaka.cpp
  examples/run/common/throughput_mt.ipp
  examples/run/common/throughput_st.ipp
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/seq_example.cpp
  examples/run/cpu/throughput_mt.cpp
  examples/run/cpu/throughput_st.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/openmp/par_example.cpp
  examples/run/sycl/seq_example_sycl.sycl
Labels: bug, cpu, examples

#780 Add Indicators, main branch (2024.11.23.)
  CMakeLists.txt
  examples/run/common/throughput_mt.ipp
  examples/run/common/throughput_st.ipp
  examples/run/cpu/CMakeLists.txt
  examples/run/cuda/CMakeLists.txt
  examples/run/sycl/CMakeLists.txt
  extern/indicators/CMakeLists.txt
  extern/indicators/README.md
Labels: build, examples

#786 Collection Comparison Progress Bar, main branch (2024.11.27.)
  CMakeLists.txt
  performance/CMakeLists.txt
  performance/include/traccc/performance/details/comparison_progress.hpp
  performance/include/traccc/performance/impl/collection_comparator.ipp
  performance/src/performance/details/comparison_progress.cpp
Labels: performance

#787 Move clang-format checks to pre-commit
  .githooks/README.md
  .githooks/pre-commit
  .github/check_format.sh
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  README.md
Labels: cicd
