Repository acts-project/traccc, pull requests merged in 2024-10, with the labels that each got.

#719 Refactor the spacepoint formation
  core/CMakeLists.txt
  core/include/traccc/clusterization/impl/spacepoint_formation.ipp
  core/include/traccc/seeding/detail/spacepoint_formation.hpp
  core/include/traccc/seeding/experimental/spacepoint_formation.hpp
  core/include/traccc/seeding/experimental/spacepoint_formation.ipp
  core/include/traccc/seeding/impl/spacepoint_formation.ipp
  core/include/traccc/seeding/impl/spacepoint_formation_algorithm.ipp
  core/include/traccc/seeding/spacepoint_formation_algorithm.hpp
  core/src/seeding/spacepoint_formation_algorithm.cpp
  device/alpaka/CMakeLists.txt
  device/alpaka/include/traccc/alpaka/seeding/spacepoint_formation_algorithm.hpp
  device/alpaka/src/seeding/spacepoint_formation_algorithm.cpp
  device/common/CMakeLists.txt
  device/common/include/traccc/seeding/device/experimental/form_spacepoints.hpp
  device/common/include/traccc/seeding/device/experimental/impl/form_spacepoints.ipp
  device/common/include/traccc/seeding/device/form_spacepoints.hpp
  device/common/include/traccc/seeding/device/impl/form_spacepoints.ipp
  device/cuda/CMakeLists.txt
  device/cuda/include/traccc/cuda/clusterization/spacepoint_formation_algorithm.hpp
  device/cuda/include/traccc/cuda/seeding/spacepoint_formation_algorithm.hpp
  device/cuda/src/seeding/experimental/spacepoint_formation.cu
  device/cuda/src/seeding/spacepoint_formation_algorithm.cu
  device/sycl/CMakeLists.txt
  device/sycl/include/traccc/sycl/clusterization/spacepoint_formation_algorithm.hpp
  device/sycl/include/traccc/sycl/seeding/spacepoint_formation_algorithm.hpp
  device/sycl/src/clusterization/spacepoint_formation_algorithm.sycl
  device/sycl/src/seeding/experimental/spacepoint_formation.sycl
  device/sycl/src/seeding/spacepoint_formation_algorithm.sycl
  examples/run/alpaka/seq_example_alpaka.cpp
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/full_chain_algorithm.hpp
  examples/run/cpu/seq_example.cpp
  examples/run/cuda/full_chain_algorithm.cpp
  examples/run/cuda/full_chain_algorithm.hpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/openmp/par_example.cpp
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
  examples/run/sycl/seq_example_sycl.sycl
  performance/include/traccc/performance/impl/is_same_spacepoint.ipp
  performance/src/performance/details/is_same_object.cpp
  tests/cpu/test_clusterization_resolution.cpp
  tests/cpu/test_spacepoint_formation.cpp
  tests/cuda/test_spacepoint_formation.cpp
  tests/sycl/test_spacepoint_formation.sycl
Labels: high priority

#731 Change the particle hypo of KF in case of charge is changed
  core/include/traccc/fitting/kalman_filter/gain_matrix_updater.hpp
  core/include/traccc/fitting/kalman_filter/kalman_actor.hpp
Labels: bug

#727 Apply spacepoint formation to the 2D pixel detector only
  core/include/traccc/seeding/detail/spacepoint_formation.hpp
  core/include/traccc/seeding/impl/spacepoint_formation.ipp
  core/include/traccc/seeding/impl/spacepoint_formation_algorithm.ipp
  device/common/include/traccc/seeding/device/impl/form_spacepoints.ipp
Labels: bug

#733 Fix the bug that the particle hypothesis is not changed as intended
  core/include/traccc/fitting/kalman_filter/kalman_actor.hpp
Labels: bug

#732 Make CKF propagation a 1:1 kernel
  device/common/include/traccc/finding/device/apply_interaction.hpp
  device/common/include/traccc/finding/device/build_tracks.hpp
  device/common/include/traccc/finding/device/find_tracks.hpp
  device/common/include/traccc/finding/device/impl/apply_interaction.ipp
  device/common/include/traccc/finding/device/impl/build_tracks.ipp
  device/common/include/traccc/finding/device/impl/find_tracks.ipp
  device/common/include/traccc/finding/device/impl/propagate_to_next_surface.ipp
  device/common/include/traccc/finding/device/propagate_to_next_surface.hpp
  device/cuda/src/finding/finding_algorithm.cu
Labels: refactor, cuda

#739 Bump version to v0.17.0
  CMakeLists.txt
Labels: build

#737 ref: Update to detray version 0.79.0 and algebra-plugins version 0.25.0
  extern/algebra-plugins/CMakeLists.txt
  extern/detray/CMakeLists.txt
  plugins/algebra/CMakeLists.txt
  plugins/algebra/vc/CMakeLists.txt
Labels: refactor

#740 Put CKF tips into a single vector
  device/cuda/src/finding/finding_algorithm.cu
Labels: refactor, cuda

#730 Fix register overload in CUDA spacepoint formation
  device/cuda/src/seeding/spacepoint_formation_algorithm.cu
Labels: bug, cuda

#713 Build Profiling, main branch (2024.09.22.)
  CMakeLists.txt
  cmake/traccc-ctest.sh.in
Labels: build

#722 De-Template Track Finding, main branch (2024.10.01.)
  benchmarks/common/benchmarks/toy_detector_benchmark.hpp
  benchmarks/cpu/toy_detector_cpu.cpp
  core/CMakeLists.txt
  core/include/traccc/finding/actors/ckf_aborter.hpp
  core/include/traccc/finding/actors/interaction_register.hpp
  core/include/traccc/finding/ckf_algorithm.hpp
  core/include/traccc/finding/finding_algorithm.hpp
  core/src/finding/ckf_algorithm.cpp
  core/src/finding/ckf_algorithm_defdet_cfield.cpp
  core/src/finding/ckf_algorithm_teldet_cfield.cpp
  core/src/finding/find_tracks.hpp
  device/cuda/include/traccc/cuda/finding/finding_algorithm.hpp
  examples/run/alpaka/seeding_example_alpaka.cpp
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/full_chain_algorithm.hpp
  examples/run/cpu/seeding_example.cpp
  examples/run/cpu/seq_example.cpp
  examples/run/cpu/truth_finding_example.cpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/cuda/truth_finding_example_cuda.cpp
  examples/run/sycl/full_chain_algorithm.hpp
  tests/cpu/test_ckf_combinatorics_telescope.cpp
  tests/cpu/test_ckf_sparse_tracks_telescope.cpp
  tests/cuda/test_ckf_toy_detector.cpp
Labels: cpu

#742 Split the CUDA CKF into different TUs
  core/include/traccc/finding/actors/ckf_aborter.hpp
  device/common/include/traccc/finding/device/apply_interaction.hpp
  device/common/include/traccc/finding/device/build_tracks.hpp
  device/common/include/traccc/finding/device/fill_sort_keys.hpp
  device/common/include/traccc/finding/device/find_tracks.hpp
  device/common/include/traccc/finding/device/impl/apply_interaction.ipp
  device/common/include/traccc/finding/device/impl/build_tracks.ipp
  device/common/include/traccc/finding/device/impl/fill_sort_keys.ipp
  device/common/include/traccc/finding/device/impl/find_tracks.ipp
  device/common/include/traccc/finding/device/impl/make_barcode_sequence.ipp
  device/common/include/traccc/finding/device/impl/propagate_to_next_surface.ipp
  device/common/include/traccc/finding/device/impl/prune_tracks.ipp
  device/common/include/traccc/finding/device/make_barcode_sequence.hpp
  device/common/include/traccc/finding/device/propagate_to_next_surface.hpp
  device/common/include/traccc/finding/device/prune_tracks.hpp
  device/cuda/CMakeLists.txt
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/cuda/src/clusterization/kernels/ccl_kernel.cu
  device/cuda/src/clusterization/kernels/ccl_kernel.cuh
  device/cuda/src/finding/finding_algorithm.cu
  device/cuda/src/finding/kernels/apply_interaction.cuh
  device/cuda/src/finding/kernels/build_tracks.cu
  device/cuda/src/finding/kernels/build_tracks.cuh
  device/cuda/src/finding/kernels/fill_sort_keys.cu
  device/cuda/src/finding/kernels/fill_sort_keys.cuh
  device/cuda/src/finding/kernels/find_tracks.cuh
  device/cuda/src/finding/kernels/make_barcode_sequence.cu
  device/cuda/src/finding/kernels/make_barcode_sequence.cuh
  device/cuda/src/finding/kernels/propagate_to_next_surface.cuh
  device/cuda/src/finding/kernels/prune_tracks.cu
  device/cuda/src/finding/kernels/prune_tracks.cuh
  device/cuda/src/finding/kernels/specializations/apply_interaction_default_detector.cu
  device/cuda/src/finding/kernels/specializations/apply_interaction_src.cuh
  device/cuda/src/finding/kernels/specializations/find_tracks_default_detector.cu
  device/cuda/src/finding/kernels/specializations/find_tracks_src.cuh
  device/cuda/src/finding/kernels/specializations/propagate_to_next_surface_default_detector.cu
  device/cuda/src/finding/kernels/specializations/propagate_to_next_surface_src.cuh
  device/cuda/src/finding/kernels/specializations/types.hpp
Labels: refactor, cuda

#587 ODD Throughput Profiling, main branch (2024.05.13.)
  extras/traccc_odd_throughput_mt_profiler.sh
Labels: extras

#755 macOS Fixes, main branch (2024.10.26.)
  .github/workflows/builds.yml
  benchmarks/CMakeLists.txt
  core/include/traccc/utils/seed_generator.hpp
  performance/include/traccc/resolution/fitting_performance_writer.hpp
  performance/src/performance/details/is_same_angle.cpp
Labels: bug, build, cpu

#753 Update Presets, main branch (2024.10.25.)
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakePresets.json
  benchmarks/common/benchmarks/toy_detector_benchmark.hpp
  tests/common/tests/kalman_fitting_wire_chamber_test.hpp
  tests/cpu/test_seeding.cpp
Labels: build

#757 VecMem Update, main branch (2024.10.29.)
  benchmarks/cuda/toy_detector_cuda.cpp
  device/alpaka/src/utils/make_prefix_sum_buff.cpp
  device/common/include/traccc/device/impl/container_d2h_copy_alg.ipp
  device/common/include/traccc/device/impl/container_h2d_copy_alg.ipp
  device/common/src/make_prefix_sum_buffer.cpp
  device/cuda/src/fitting/fitting_algorithm.cu
  device/cuda/src/utils/make_prefix_sum_buff.cu
  device/kokkos/src/seeding/spacepoint_binning.cpp
  device/kokkos/src/utils/make_prefix_sum_buff.cpp
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  device/sycl/src/fitting/fitting_algorithm.sycl
  device/sycl/src/seeding/spacepoint_formation_algorithm.sycl
  examples/run/alpaka/seeding_example_alpaka.cpp
  examples/run/alpaka/seq_example_alpaka.cpp
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/cuda/truth_finding_example_cuda.cpp
  examples/run/sycl/full_chain_algorithm.sycl
  examples/run/sycl/seeding_example_sycl.sycl
  examples/run/sycl/seq_example_sycl.sycl
  extern/vecmem/CMakeLists.txt
  tests/alpaka/alpaka_basic.cpp
  tests/cuda/test_ckf_combinatorics_telescope.cpp
  tests/cuda/test_ckf_toy_detector.cpp
  tests/cuda/test_thrust.cu
  tests/sycl/test_dpl.sycl
Labels: build, tests, cuda, sycl, cpu, kokkos, alpaka

#759 TBB Re-Configuration Fix, main branch (2024.10.30.)
  CMakeLists.txt
  extern/tbb/CMakeLists.txt
Labels: bug, build

#750 Update detray to v0.81.0
  core/include/traccc/finding/actors/ckf_aborter.hpp
  core/include/traccc/fitting/kalman_filter/kalman_actor.hpp
  core/src/finding/find_tracks.hpp
  device/common/include/traccc/finding/device/impl/propagate_to_next_surface.ipp
  examples/simulation/simulate_wire_chamber.cpp
  extern/detray/CMakeLists.txt
  simulation/include/traccc/simulation/smearing_writer.hpp
  tests/common/tests/kalman_fitting_wire_chamber_test.hpp
  tests/cpu/test_ckf_combinatorics_telescope.cpp
  tests/cpu/test_ckf_sparse_tracks_telescope.cpp
  tests/cpu/test_kalman_fitter_telescope.cpp
  tests/cpu/test_simulation.cpp
  tests/cuda/test_ckf_combinatorics_telescope.cpp
  tests/cuda/test_kalman_fitter_telescope.cpp
  tests/sycl/test_kalman_fitter_telescope.sycl
Labels: build
