Repository acts-project/traccc, pull requests merged in 2025-06, with the labels that each got.

#1000 Find Best Host Measurements, main branch (2025.05.31.)
  core/include/traccc/finding/details/find_tracks.hpp
  tests/cpu/test_ckf_combinatorics_telescope.cpp
Labels: bug, cpu

#991 Refactor Kálmán fitter forward-backward logic
  core/include/traccc/fitting/kalman_filter/kalman_fitter.hpp
Labels: refactor, shared

#995 CUDA Ambiguity Clang Fixes, main branch (2025.05.30.)
  device/cuda/src/ambiguity_resolution/greedy_ambiguity_resolution_algorithm.cu
  tests/cuda/test_ambiguity_resolution.cpp
Labels: bug, cuda

#994 Split KF kernel into forward and backward steps
  device/alpaka/src/fitting/fitting_algorithm.cpp
  device/common/include/traccc/fitting/device/fit.hpp
  device/common/include/traccc/fitting/device/fit_backward.hpp
  device/common/include/traccc/fitting/device/fit_forward.hpp
  device/common/include/traccc/fitting/device/fit_prelude.hpp
  device/common/include/traccc/fitting/device/impl/fit.ipp
  device/cuda/CMakeLists.txt
  device/cuda/src/fitting/fitting_algorithm.cu
  device/cuda/src/fitting/kernels/fit_backward.hpp
  device/cuda/src/fitting/kernels/fit_forward.hpp
  device/cuda/src/fitting/kernels/fit_prelude.cu
  device/cuda/src/fitting/kernels/fit_prelude.hpp
  device/cuda/src/fitting/kernels/specializations/fit_backward_default_detector.cu
  device/cuda/src/fitting/kernels/specializations/fit_backward_src.cuh
  device/cuda/src/fitting/kernels/specializations/fit_forward_default_detector.cu
  device/cuda/src/fitting/kernels/specializations/fit_forward_src.cuh
  device/sycl/src/fitting/fit_tracks.hpp
Labels: refactor

#1006 Compile fitter only in direction-matching kernel
  core/include/traccc/fitting/kalman_filter/kalman_actor.hpp
  core/include/traccc/fitting/kalman_filter/kalman_fitter.hpp
Labels: refactor, performance

#1008 Add Track Fit to SYCL Throughput Measurements, main branch (2025.06.06.)
  examples/run/sycl/full_chain_algorithm.hpp
  examples/run/sycl/full_chain_algorithm.sycl
Labels: improvement, sycl

#1007 Fix traccc::full_chain_algorithm Copying, main branch (2025.06.06.)
  examples/run/cpu/full_chain_algorithm.cpp
  examples/run/cpu/full_chain_algorithm.hpp
Labels: bug, cpu, high priority

#1014 Synchronize threads to update shared measurements correctly
  device/cuda/src/ambiguity_resolution/kernels/remove_tracks.cu
  tests/cuda/test_ambiguity_resolution.cpp
Labels: bug, high priority

#1016 Fix oneDPL Usage, main branch (2025.06.13.)
  device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
  device/sycl/src/finding/find_tracks.hpp
  device/sycl/src/fitting/fit_tracks.hpp
  extern/dpl/CMakeLists.txt
  tests/sycl/test_dpl.sycl
Labels: build, sycl

#1023 Device Cluster Reconstruction, main branch (2025.06.17.)
  device/alpaka/src/clusterization/clusterization_algorithm.cpp
  device/common/include/traccc/clusterization/device/aggregate_cluster.hpp
  device/common/include/traccc/clusterization/device/ccl_kernel.hpp
  device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  device/common/include/traccc/clusterization/device/impl/ccl_kernel.ipp
  device/common/include/traccc/clusterization/device/impl/reify_cluster_data.ipp
  device/common/include/traccc/clusterization/device/reify_cluster_data.hpp
  device/common/include/traccc/clusterization/device/tags.hpp
  device/cuda/CMakeLists.txt
  device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  device/cuda/src/clusterization/clusterization_algorithm.cu
  device/cuda/src/clusterization/kernels/ccl_kernel.cu
  device/cuda/src/clusterization/kernels/ccl_kernel.cuh
  device/cuda/src/clusterization/kernels/reify_cluster_data.cu
  device/cuda/src/clusterization/kernels/reify_cluster_data.cuh
  device/sycl/src/clusterization/clusterization_algorithm.sycl
  examples/run/cuda/full_chain_algorithm.cpp
  tests/alpaka/test_cca.cpp
  tests/common/tests/cca_test.hpp
  tests/cpu/test_cca.cpp
  tests/cuda/test_cca.cpp
  tests/sycl/test_cca.cpp
Labels: feature, cuda

#1026 Alpaka Templating Rewrite, main branch (2025.06.18.)
  device/alpaka/CMakeLists.txt
  device/alpaka/include/traccc/alpaka/finding/combinatorial_kalman_filter_algorithm.hpp
  device/alpaka/include/traccc/alpaka/finding/finding_algorithm.hpp
  device/alpaka/include/traccc/alpaka/fitting/fitting_algorithm.hpp
  device/alpaka/include/traccc/alpaka/fitting/kalman_fitting_algorithm.hpp
  device/alpaka/src/finding/combinatorial_kalman_filter_algorithm.cpp
  device/alpaka/src/finding/combinatorial_kalman_filter_algorithm_constant_field_default_detector.cpp
  device/alpaka/src/finding/combinatorial_kalman_filter_algorithm_constant_field_telescope_detector.cpp
  device/alpaka/src/finding/find_tracks.hpp
  device/alpaka/src/finding/finding_algorithm.cpp
  device/alpaka/src/finding/kernels/apply_interaction.hpp
  device/alpaka/src/finding/kernels/build_tracks.hpp
  device/alpaka/src/finding/kernels/fill_sort_keys.hpp
  device/alpaka/src/finding/kernels/find_tracks.hpp
  device/alpaka/src/finding/kernels/make_barcode_sequence.hpp
  device/alpaka/src/finding/kernels/propagate_to_next_surface.hpp
  device/alpaka/src/fitting/fit_tracks.hpp
  device/alpaka/src/fitting/kalman_fitting_algorithm.cpp
  device/alpaka/src/fitting/kalman_fitting_algorithm_constant_field_default_detector.cpp
  device/alpaka/src/fitting/kalman_fitting_algorithm_constant_field_telescope_detector.cpp
  examples/run/alpaka/full_chain_algorithm.cpp
  examples/run/alpaka/full_chain_algorithm.hpp
  examples/run/alpaka/seeding_example_alpaka.cpp
  examples/run/alpaka/seq_example_alpaka.cpp
Labels: alpaka

#1025 Update detray to version 0.99.0
  extern/detray/CMakeLists.txt
  simulation/include/traccc/simulation/smearing_writer.hpp
Labels: build

#1042 Inhomogeneous Magnetic Field Examples, main branch (2025.06.25.)
  examples/options/CMakeLists.txt
  examples/options/include/traccc/options/magnetic_field.hpp
  examples/options/src/magnetic_field.cpp
  examples/run/CMakeLists.txt
  examples/run/common/make_magnetic_field.cpp
  examples/run/common/make_magnetic_field.hpp
  examples/run/cpu/CMakeLists.txt
  examples/run/cpu/misaligned_truth_fitting_example.cpp
  examples/run/cpu/seeding_example.cpp
  examples/run/cpu/seq_example.cpp
  examples/run/cpu/truth_finding_example.cpp
  examples/run/cpu/truth_fitting_example.cpp
  examples/run/cuda/CMakeLists.txt
  examples/run/cuda/seeding_example_cuda.cpp
  examples/run/cuda/seq_example_cuda.cpp
  examples/run/cuda/truth_finding_example_cuda.cpp
  examples/run/cuda/truth_fitting_example_cuda.cpp
  examples/run/sycl/CMakeLists.txt
  examples/run/sycl/seq_example_sycl.sycl
Labels: feature, examples
